@import '../bower_components/brick-common/styles/mixins'
@import '../bower_components/brick-common/styles/params'

form[role="dialog"],
form[role="dialog"].hide {
  display: none;
}

form[role="dialog"].show {
  display: block;
}
